In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:@localhost/sakila

Read Data

In [6]:
%%sql
SELECT * FROM city;

 * mysql+pymysql://root:***@localhost/sakila
600 rows affected.

[(1, 'A Coruña (La Coruña)', 87, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (2, 'Abha', 82, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (3, 'Abu Dhabi', 101, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (4, 'Acuña', 60, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (5, 'Adana', 97, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (6, 'Addis Abeba', 31, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (7, 'Aden', 107, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (8, 'Adoni', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (9, 'Ahmadnagar', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (10, 'Akishima', 50, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (11, 'Akron', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (12, 'al-Ayn', 101, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (13, 'al-Hawiya', 82, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (14, 'al-Manama', 11, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (15, 'al-Qadarif', 89, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (16, 'al-Qatif', 82, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (17, 'Alessandria', 49, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (18, 'Allappuzha (Alleppey)', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (19, 'Allende', 60, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (20, 'Almirante Brown', 6, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (21, 'Alvorada', 15, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (22, 'Ambattur', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (23, 'Amersfoort', 67, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (24, 'Amroha', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (25, 'Angra dos Reis', 15, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (26, 'Anápolis', 15, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (27, 'Antofagasta', 22, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (28, 'Aparecida de Goiânia', 15, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (29, 'Apeldoorn', 67, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (30, 'Araçatuba', 15, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (31, 'Arak', 46, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (32, 'Arecibo', 77, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (33, 'Arlington', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (34, 'Ashdod', 48, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (35, 'Ashgabat', 98, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (36, 'Ashqelon', 48, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (37, 'Asunción', 73, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (38, 'Athenai', 39, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (39, 'Atšinsk', 80, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (40, 'Atlixco', 60, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (41, 'Augusta-Richmond County', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (42, 'Aurora', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (43, 'Avellaneda', 6, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (44, 'Bagé', 15, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (45, 'Bahía Blanca', 6, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (46, 'Baicheng', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (47, 'Baiyin', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (48, 'Baku', 10, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (49, 'Balašiha', 80, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (50, 'Balikesir', 97, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (51, 'Balurghat', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (52, 'Bamenda', 19, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (53, 'Bandar Seri Begawan', 16, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (54, 'Banjul', 37, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (55, 'Barcelona', 104, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (56, 'Basel', 91, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (57, 'Bat Yam', 48, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (58, 'Batman', 97, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (59, 'Batna', 2, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (60, 'Battambang', 18, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (61, 'Baybay', 75, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (62, 'Bayugan', 75, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (63, 'Béchar', 2, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (64, 'Beira', 63, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (65, 'Bellevue', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (66, 'Belém', 15, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (67, 'Benguela', 4, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (68, 'Beni-Mellal', 62, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (69, 'Benin City', 69, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (70, 'Bergamo', 49, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (71, 'Berhampore (Baharampur)', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (72, 'Bern', 91, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (73, 'Bhavnagar', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (74, 'Bhilwara', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (75, 'Bhimavaram', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (76, 'Bhopal', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (77, 'Bhusawal', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (78, 'Bijapur', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (79, 'Bilbays', 29, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (80, 'Binzhou', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (81, 'Birgunj', 66, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (82, 'Bislig', 75, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (83, 'Blumenau', 15, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (84, 'Boa Vista', 15, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (85, 'Boksburg', 85, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (86, 'Botosani', 78, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (87, 'Botshabelo', 85, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (88, 'Bradford', 102, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (89, 'Brasília', 15, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (90, 'Bratislava', 84, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (91, 'Brescia', 49, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (92, 'Brest', 34, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (93, 'Brindisi', 49, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (94, 'Brockton', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (95, 'Bucuresti', 78, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (96, 'Buenaventura', 24, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (97, 'Bydgoszcz', 76, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (98, 'Cabuyao', 75, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (99, 'Callao', 74, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (100, 'Cam Ranh', 105, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (101, 'Cape Coral', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (102, 'Caracas', 104, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (103, 'Carmen', 60, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (104, 'Cavite', 75, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (105, 'Cayenne', 35, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (106, 'Celaya', 60, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (107, 'Chandrapur', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (108, 'Changhwa', 92, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (109, 'Changzhou', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (110, 'Chapra', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (111, 'Charlotte Amalie', 106, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (112, 'Chatsworth', 85, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (113, 'Cheju', 86, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (114, 'Chiayi', 92, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (115, 'Chisinau', 61, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (116, 'Chungho', 92, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (117, 'Cianjur', 45, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (118, 'Ciomas', 45, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (119, 'Ciparay', 45, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (120, 'Citrus Heights', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (121, 'Città del Vaticano', 41, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (122, 'Ciudad del Este', 73, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (123, 'Clarksville', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (124, 'Coacalco de Berriozábal', 60, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (125, 'Coatzacoalcos', 60, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (126, 'Compton', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (127, 'Coquimbo', 22, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (128, 'Córdoba', 6, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (129, 'Cuauhtémoc', 60, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (130, 'Cuautla', 60, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (131, 'Cuernavaca', 60, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (132, 'Cumaná', 104, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (133, 'Czestochowa', 76, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (134, 'Dadu', 72, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (135, 'Dallas', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (136, 'Datong', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (137, 'Daugavpils', 54, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (138, 'Davao', 75, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (139, 'Daxian', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (140, 'Dayton', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (141, 'Deba Habe', 69, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (142, 'Denizli', 97, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (143, 'Dhaka', 12, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (144, 'Dhule (Dhulia)', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (145, 'Dongying', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (146, 'Donostia-San Sebastián', 87, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (147, 'Dos Quebradas', 24, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (148, 'Duisburg', 38, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (149, 'Dundee', 102, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (150, 'Dzerzinsk', 80, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (151, 'Ede', 67, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (152, 'Effon-Alaiye', 69, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (153, 'El Alto', 14, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (154, 'El Fuerte', 60, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (155, 'El Monte', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (156, 'Elista', 80, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (157, 'Emeishan', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (158, 'Emmen', 67, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (159, 'Enshi', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (160, 'Erlangen', 38, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (161, 'Escobar', 6, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (162, 'Esfahan', 46, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (163, 'Eskisehir', 97, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (164, 'Etawah', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (165, 'Ezeiza', 6, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (166, 'Ezhou', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (167, 'Faaa', 36, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (168, 'Fengshan', 92, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (169, 'Firozabad', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (170, 'Florencia', 24, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (171, 'Fontana', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (172, 'Fukuyama', 50, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (173, 'Funafuti', 99, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (174, 'Fuyu', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (175, 'Fuzhou', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (176, 'Gandhinagar', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (177, 'Garden Grove', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (178, 'Garland', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (179, 'Gatineau', 20, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (180, 'Gaziantep', 97, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (181, 'Gijón', 87, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (182, 'Gingoog', 75, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (183, 'Goiânia', 15, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (184, 'Gorontalo', 45, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (185, 'Grand Prairie', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (186, 'Graz', 9, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (187, 'Greensboro', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (188, 'Guadalajara', 60, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (189, 'Guarujá', 15, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (190, 'Águas Lindas de Goiás', 15, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (191, 'Gulbarga', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (192, 'Hagonoy', 75, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (193, 'Haining', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (194, 'Haiphong', 105, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (195, 'Haldia', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (196, 'Halifax', 20, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (197, 'Halisahar', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (198, 'Halle/Saale', 38, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (199, 'Hami', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (200, 'Hamilton', 68, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (201, 'Hanoi', 105, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (202, 'Hidalgo', 60, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (203, 'Higashiosaka', 50, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (204, 'Hino', 50, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (205, 'Hiroshima', 50, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (206, 'Hodeida', 107, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (207, 'Hohhot', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (208, 'Hoshiarpur', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (209, 'Hsichuh', 92, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (210, 'Huai´an', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (211, 'Hubli-Dharwad', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (212, 'Huejutla de Reyes', 60, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (213, 'Huixquilucan', 60, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (214, 'Huánuco', 74, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (215, 'Ibirité', 15, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (216, 'Idfu', 29, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (217, 'Ife', 69, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (218, 'Ikerre', 69, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (219, 'Iligan', 75, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (220, 'Ilorin', 69, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (221, 'Imus', 75, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (222, 'Inegöl', 97, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (223, 'Ipoh', 59, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (224, 'Isesaki', 50, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (225, 'Ivanovo', 80, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (226, 'Iwaki', 50, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (227, 'Iwakuni', 50, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (228, 'Iwatsuki', 50, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (229, 'Izumisano', 50, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (230, 'Jaffna', 88, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (231, 'Jaipur', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (232, 'Jakarta', 45, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (233, 'Jalib al-Shuyukh', 53, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (234, 'Jamalpur', 12, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (235, 'Jaroslavl', 80, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (236, 'Jastrzebie-Zdrój', 76, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (237, 'Jedda', 82, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (238, 'Jelets', 80, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (239, 'Jhansi', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (240, 'Jinchang', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (241, 'Jining', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (242, 'Jinzhou', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (243, 'Jodhpur', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (244, 'Johannesburg', 85, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (245, 'Joliet', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (246, 'José Azueta', 60, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (247, 'Juazeiro do Norte', 15, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (248, 'Juiz de Fora', 15, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (249, 'Junan', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (250, 'Juárez', 60, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (251, 'Kabul', 1, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (252, 'Kaduna', 69, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (253, 'Kakamigahara', 50, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (254, 'Kaliningrad', 80, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (255, 'Kalisz', 76, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (256, 'Kamakura', 50, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (257, 'Kamarhati', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (258, 'Kamjanets-Podilskyi', 100, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (259, 'Kamyšin', 80, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (260, 'Kanazawa', 50, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (261, 'Kanchrapara', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (262, 'Kansas City', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (263, 'Karnal', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (264, 'Katihar', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (265, 'Kermanshah', 46, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (266, 'Kilis', 97, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (267, 'Kimberley', 85, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (268, 'Kimchon', 86, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (269, 'Kingstown', 81, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (270, 'Kirovo-Tšepetsk', 80, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (271, 'Kisumu', 52, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (272, 'Kitwe', 109, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (273, 'Klerksdorp', 85, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (274, 'Kolpino', 80, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (275, 'Konotop', 100, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (276, 'Koriyama', 50, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (277, 'Korla', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (278, 'Korolev', 80, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (279, 'Kowloon and New Kowloon', 42, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (280, 'Kragujevac', 108, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (281, 'Kütahya', 97, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (282, 'Kuching', 59, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (283, 'Kumbakonam', 44, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (284, 'Kurashiki', 50, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (285, 'Kurgan', 80, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (286, 'Kursk', 80, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (287, 'Kuwana', 50, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (288, 'La Paz', 60, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (289, 'La Plata', 6, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (290, 'La Romana', 27, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (291, 'Laiwu', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (292, 'Lancaster', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (293, 'Laohekou', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (294, 'Lapu-Lapu', 75, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (295, 'Laredo', 103, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (296, 'Lausanne', 91, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (297, 'Le Mans', 34, datetime.datetime(2006, 2, 15, 4, 45, 25)),
 (298, 'Lengshuijiang', 23, datetime.datetime(2006, 2, 15, 4, 45, 25)),

In [7]:
%%sql
SELECT * FROM customer LIMIT 10;

 * mysql+pymysql://root:***@localhost/sakila
10 rows affected.

[(1, 1, 'MARY', 'SMITH', 'MARY.SMITH@sakilacustomer.org', 5, 1, datetime.datetime(2006, 2, 14, 22, 4, 36), datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (2, 1, 'PATRICIA', 'JOHNSON', 'PATRICIA.JOHNSON@sakilacustomer.org', 6, 1, datetime.datetime(2006, 2, 14, 22, 4, 36), datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (3, 1, 'LINDA', 'WILLIAMS', 'LINDA.WILLIAMS@sakilacustomer.org', 7, 1, datetime.datetime(2006, 2, 14, 22, 4, 36), datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (4, 2, 'BARBARA', 'JONES', 'BARBARA.JONES@sakilacustomer.org', 8, 1, datetime.datetime(2006, 2, 14, 22, 4, 36), datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (5, 1, 'ELIZABETH', 'BROWN', 'ELIZABETH.BROWN@sakilacustomer.org', 9, 1, datetime.datetime(2006, 2, 14, 22, 4, 36), datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (6, 2, 'JENNIFER', 'DAVIS', 'JENNIFER.DAVIS@sakilacustomer.org', 10, 1, datetime.datetime(2006, 2, 14, 22, 4, 36), datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (7, 1, 'MARIA', 'MILLER', 'MARIA.MILLER@sakilacustomer.org', 11, 1, datetime.datetime(2006, 2, 14, 22, 4, 36), datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (8, 2, 'SUSAN', 'WILSON', 'SUSAN.WILSON@sakilacustomer.org', 12, 1, datetime.datetime(2006, 2, 14, 22, 4, 36), datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (9, 2, 'MARGARET', 'MOORE', 'MARGARET.MOORE@sakilacustomer.org', 13, 1, datetime.datetime(2006, 2, 14, 22, 4, 36), datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (10, 1, 'DOROTHY', 'TAYLOR', 'DOROTHY.TAYLOR@sakilacustomer.org', 14, 1, datetime.datetime(2006, 2, 14, 22, 4, 36), datetime.datetime(2006, 2, 15, 4, 57, 20))]

In [ ]:
Join table

Count the number of movie in each category

In [25]:
%%sql
SELECT 
    c.Name AS category,
    COUNT(fc.film_id) AS Total_Movies
From film_category fc
JOIN category c ON c.category_id = fc.category_id
GROUP BY fc.category_id;

 * mysql+pymysql://root:***@localhost/sakila
16 rows affected.

[('Action', 64),
 ('Animation', 66),
 ('Children', 60),
 ('Classics', 57),
 ('Comedy', 58),
 ('Documentary', 68),
 ('Drama', 62),
 ('Family', 69),
 ('Foreign', 73),
 ('Games', 61),
 ('Horror', 56),
 ('Music', 51),
 ('New', 63),
 ('Sci-Fi', 61),
 ('Sports', 74),
 ('Travel', 57)]